@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #210140;
    padding: .9rem 11rem;
    position: fixed;
    z-index: 2;
}

.logo{
    width: 4rem;
    height: 4rem;
}
.logo img{
    width: 100%;
    height: 100%;
}

/**/
.navbar{
    transition: all .5s;
}
.navbar.hide{
    transform: translateY(-100%);
    transition: all .5s;
}
/**/

/**/
.show{
    transform: scale(0.8);
    opacity: 0;
    transition: all 1.2 ease-out;
}
.mostrar{
    transform: scale(1);
    opacity: 1;
}

/**/

nav a{
    color: white;
    padding: 0px 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all .5s;
}
nav .active{
    color: #fdbe10;
}

nav a:hover{
    color: #fdbe10;
}
nav button{
    padding: .5rem .8rem;
    border: none;
    background: #fb8710;
    color: white;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 800;
    transition: all .5s;

}
nav button:hover{
    background: #ffffff;
    color: #fb8710;
}

/*==========    ICONO RESPONSIVE    ========*/
header .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    font-weight: 100;
    display: none;
}

/*==========    SECTION INICIO MEDIOS DIGITALES    ========*/
.section-digitales{
    min-width: 100%;
    min-height: 105vh;
    background: url('imagenes-pagina-enlaces/banner-call-center.png') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 2rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.section-title{
    position: absolute;
    top: 30%;
    left: 4%;
    transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.section-title h2{
    font-size: 4.5rem;
    font-weight: 900;
    color: #210140;
    line-height: 2rem;

}
.section-title h3{
    font-size: 4.5rem;
    font-weight: 700;
    color: #fb8710;
}

.text-hashtag{
    color: #210140;
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 10%;
}
.text-hashtag .span-one{
    font-size: 4rem;
    font-weight: 100;

}
.text-hashtag .info-titulos .is{
    background: #fb8710;
    color: white;
    padding: .3rem;
    border-radius: 4px;
    font-size: 1.5rem;
}
.text-hashtag .info-titulos .span-two{
    font-weight: 200;
    font-size: 2rem;
}
.info-titulos h3{
    letter-spacing: -2px;
}

/*=========     SECTION DIGITALES RESPONSIVE    ======*/
/*==========    SECTION INICIO MEDIOS DIGITALES    ========*/
.section-digitales-responsive{
    min-width: 100%;
    min-height: 105vh;
    background: url('imagenes-pagina-enlaces/banner-call-center-responsivo.png');
    background-size: 100% 93%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2rem 3rem;
    position: relative;
    display: none;
    border: 1rem solid white;
}
.texto-titulos-responsive{
    position: absolute;
    top: 12rem;
    left: 2rem;
}
.text-hashtag-responsive{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.section-digitales-responsive .texto-titulos-responsive h2{
    color: #210140;
    font-size: 7.5vw;
    line-height: 1.5rem;
}
.section-digitales-responsive .texto-titulos-responsive h3{
    color: #fb8710;
    font-size: 8vw;
    font-weight: 600;
}
.text-hashtag-responsive .container-hast{
    background: #210140;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}
.text-hashtag-responsive .container-hast .span-one{
    color: white;
    font-size: 3rem;
    font-weight: 100;
}
.container-hast .info-titulos .span-two{
    color: #f3f3f3;
    font-size: 1rem;
}
.container-hast .info-titulos .is{
    color: white;
    background: #fb8710;
    padding: .1rem .3rem;
    border-radius: 2px;
}
.container-hast .info-titulos h3{
    color: white;
}
/*iconos flotantes*/
.section-digitales .info-iconos{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    position: absolute;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    z-index: 3;
}
.section-digitales .info-iconos a{
    display: block;
    color: white;
    margin-bottom: 1rem;
    padding: 5px;
    background: #fb8710;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .5s;
}
.section-digitales .info-iconos a:hover{
    background: rgb(119, 119, 119);
}
.section-digitales .icono-chat{
    padding-top: .5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    height: 60px;
    border-radius: 5px;
    transition: all .5s;
    background-color: #fb8710;
    color: white;
}
.section-digitales .icono-chat span{
    font-size: 1rem;
    margin-left: 7px;
}
.section-digitales .icono-chat i{
    font-size: 3rem;
}
.section-digitales .icono-chat:hover{
    background: rgb(119, 119, 119);
}

/*======*/
/*===ICONO CHAT RESPONSIVE   ===*/
.section-digitales-responsive .chat-responsive i{
    font-size: 3rem;
    color: #ffff;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    position: fixed;
    display: none;
    background: rgb(149, 149, 255);
    border-radius: 50px;
    padding: .7rem;
    z-index: 3;
}

/* ------       SECTION INFORMATION     --------*/
.section-information{
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3rem 0rem;
}
.section-information .container-information{
    width: 60%;
}
/*------ TEXTO INFORMATION  ---------*/
.container-information h2{
    padding: 1rem;
    font-size: 1.3rem;
    color: #210140;
    text-align: center;
}
.container-information h3{
    color: #fb8710;
    width: 100%;
    text-align: right;
    padding: .5rem;
    font-weight: 900;
}
.container-information p{
    padding: 1rem 0px;
    font-size: clamp(13px, 2vw, 20px);/*---------------*/
    color: #210140;
}
.container-information a{
    color: #210140;
    font-weight: 600;
}
/*-----     SECTION BUTTON      -------*/
.container-button{
    padding: 3rem;
    text-align: center;
}
.container-button .btn-inicio{
    padding: .5rem 2rem;
    font-weight: 300;
    font-size: .8rem;
    background: none;
    color: rgb(90, 90, 90);
    cursor: pointer;
    border: none;
    transition: all .5s;
    text-transform: uppercase;  
}
.container-button .btn-inicio:hover{
    padding: .5rem 2rem;
    color: white;
    background: #fb8710;
    transition: all .5s;
    border-radius: 5px;
    border: none;
}

/*------    FOOTER      -------*/
/*========  FOOTER       =======*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 11rem;
    background: #f3f3f3;
}
.footer figure img{
    width: 200px;
    height: 85px;
}
.footer figure, 
.footer .card-local {
    margin-left: 1rem;
}
.footer .card-local{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0px .5rem;
}
.footer .card-local a{
    padding-bottom:.5rem ;
    font-size: .9rem;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

.footer .cont-button{
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    background: none;
    padding: .5rem 1.2rem;
    background-color: #210140;
    color: white;
    font-weight: 800;
    transition: all .5s;
}
.footer .cont-button:hover{
    background-color: rgb(119, 119, 119);
}


/*------        RESPONSIVE      -------*/
/*============  ===========*/
@media (max-width: 1053px){
    header{
    width: 100%;
    padding: .9rem 4rem;
    }
    
}
@media (max-width: 835px){
    header{
        width: 100%;
        padding: .9rem 2rem;
        }
}

/*==========    MENU RESPONSIVE ========*/
@media (max-width: 765px){
    /*==========    MENU RESPONSIVE ========*/
    header .btn-menu{
        display: block;
    }
    header nav a{
        display: none;
    }

    header nav button{
        display: none;
    }
    /**/
    .container-menu{
        position: absolute;
        background: #210140;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 4;
        position: fixed;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
    }
    .cont-menu{
        width: 100%;
        background: #210140;
        height: 100%;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .cont-menu nav{
        transform: translateY(15%);
    }
    .cont-menu nav a{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 20px;
        transition: all 400ms ease;
    }
    .cont-menu nav a:hover{
        color: #fb8710;
    }
    .cont-menu label{
        position: absolute;
        right: 45px;
        top: 30px;
        color: #ffffff;
        cursor: pointer;
        font-size: 1.7rem;
    }
    
}


    /*==========    MENU RESPONSIVE ========*/


    @media (max-width: 932px){
        /*SECTION INICIO*/
        .section-digitales{
            display: none;
        }
        .section-digitales .info-iconos{
            display: none;
        }
        .section-digitales-responsive .chat-responsive i{
            display: block;
        }
        .section-digitales-responsive{
            display: block;
        }
    
        
    }

    /*-----                -------*/
    @media (max-width: 765px){
        .section-digitales-responsive{
            background-size: 100% 85%;
            padding: 2rem 3rem;
            border: 1rem solid white;
        }
        .texto-titulos-responsive{
            position: absolute;
            top: 35%;
            right: 2rem;
        }
    }

    @media (max-width: 450px){
            /*==========    SECTION INICIO MEDIOS DIGITALES    ========*/
    .section-digitales-responsive{
        min-width: 100%;
        min-height: 60vh;
        background: url('imagenes-pagina-enlaces/banner-call-center-mobile.png');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 2rem 3rem;
        position: relative;
        border: 1rem solid white;
    }
    .texto-titulos-responsive{
        position: absolute;
        top: 12rem;
        left: 1rem;
    }
    .text-hashtag-responsive{
        position: absolute;
        bottom: 0;
        left: 30%;
    }
    }
    /*-----      SECTION INFO   ------*/
    @media(max-width: 919px){
        .section-information .container-information{
            width: 80%;
        }
    }



/*-------       RESPONSIVE FOOTER       */
    /*========  FOOTER  ========*/
    @media (max-width: 704px){
        .footer{
            width: 100%;
            padding: 3rem 1rem;
        }
    }
    
    @media (max-width: 639px){
        .footer{
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
        .footer figure,
        .footer article {
            text-align: center;
        }
        .footer div{
            text-align: center;
        }
        
    }