@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 70%;
    max-width: 1100px;
    margin: auto;

}

header{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #210140;
    padding: .9rem 11rem;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 4rem;
    height: 4rem;
}
.logo img{
    width: 100%;
    height: 100%;
}

/**/
.navbar{
    transition: all .5s;
}
.navbar.hide{
    transform: translateY(-100%);
    transition: all .5s;
}
/**/

nav a{
    color: white;
    padding: 0px 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
}
nav .active{
    color: #fdbe10;
}

nav a:hover{
    color: #fdbe10;
}
nav button{
    padding: .5rem .8rem;
    border: none;
    background: #fb8710;
    color: white;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 800;
    transition: all .5s;

}
nav button:hover{
    background: #ffffff;
    color: #fb8710;
}


/*==========    ICONO RESPONSIVE ========*/
header .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    font-weight: 100;
    display: none;
}


/*========  SECTION-CONOCENOS==========*/
.section-conocenos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.container .container-img-us{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 270px;
}
.container .container-img-us img{
    width: 80%;
    height: 100%;
}
.section-conocenos figure{
    padding-bottom: 1rem;
    margin: 2rem 1rem;
}
.section-conocenos .container .info-conocenos p{
    padding-bottom: 1rem;
    font-size: 1rem;
    color: rgb(83, 83, 83);
}
.section-conocenos .container .info-conocenos p{
    font-size: 1.3rem;
    text-align: justify;
    padding: 1.5rem .5rem;
}



/*iconos flotantes*/
.section-conocenos .info-iconos{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    position: absolute;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    z-index: 3;
}
.section-conocenos .info-iconos a{
    display: block;
    color: white;
    margin-bottom: 1rem;
    padding: 5px;
    background: #fb8710;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .5s;
}
.section-conocenos .info-iconos a:hover{
    background: rgb(119, 119, 119);
}
.section-conocenos .icono-chat{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    height: 60px;
    border-radius: 5px;
    transition: all .5s;
    background-color: #fb8710;
    color: white;
}
.section-conocenos .icono-chat span{
    font-size: 1rem;
    margin-left: 7px;
}
.section-conocenos .icono-chat i{
    font-size: 3rem;
}
.section-conocenos .icono-chat:hover{
    background: rgb(119, 119, 119);
}


/*======*/
/*===ICONO CHAT RESPONSIVE   ===*/
.section-conocenos .chat-responsive i{
    font-size: 3rem;
    color: #ffff;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    position: fixed;
    display: none;
    background: rgb(149, 149, 255);
    border-radius: 50px;
    padding: .7rem;
}



/*================= SECTION CONOCE-EQUIPO===============*/
.conoce-equipo{
    width: 100%;
    padding: 3rem 0px;
}
.conoce-equipo h2{
    text-align: center;
    color: #fb8710;
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 0;
}
.conoce-equipo h3{
    color: #210140;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}
.conoce-equipo .container-grid{
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 2rem;
}
.conoce-equipo .container-grid figure img{
    width: 100%;
    height: 230px;
}
.container-grid .box-info{
    text-align: center;
}
.conoce-equipo .container-grid h2{
    font-size: 1.1rem;
    color: #210140;
    font-weight: 400;
}
.conoce-equipo .container-grid p{
    color: #fb8710;
    font-size: 1rem;
    font-weight: 700;
}

/*=============WORK US PORQUE TRABAJAR CON NOSOTROS===========*/
.work-us{
    width: 70%;
    padding: 2rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-us h2 span{
    color: #fb8710;
    font-size: 4rem;
    font-weight: 700;
    
}
.work-us h2{
    color: #210140;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.work-us p span{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fb8710;
}
.work-us p{
    text-align: center;
    font-size: 1.5rem;
    color: #210140;
}
.work-us .cont-us{
    width: 100%;
    height: 100%;
    padding: 2rem 0px;
    display: flex;
    flex-direction: column;
}
.cont-us .cont-figure-us-left{
    width: 60%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #210140;    
    margin-bottom: 3rem;
    border-radius: 50px;
    position: relative;
    float: left;
    color: white; 
}
.cont-us .cont-figure-us h3{
    text-align: center;
}
.cont-us .cont-figure-us-left .figure-left{
    position: absolute;
    left: 0;
    background: #fb8710;
    border-radius: 50%;
    width: 81px;
    height: 81px;
    
}
.cont-us .cont-figure-right{
    width: 60%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #210140;
    margin-bottom: 3rem;
    border-radius: 50px;
    position: relative;
    float: right;
    color: white;
    margin-left: 20rem;
}
.cont-us .cont-figure-right .figure-right{
    position: absolute;
    right: 0;
    background: #fb8710;
    border-radius: 50%;
    width: 81px;
    height: 81px; 
}
.cont-us .cont-figure-us-right h3{
    text-align: center;
}
.cont-us .cont-figure-us h3{
    text-align: center;
    color: white;
}
/*========      ======*/
.cont-us .cont-figure-us-right{
    min-width: 70%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #210140;
    margin-bottom: 3rem;
    border-radius: 50px;
    position: relative;
    
}
.cont-us .cont-figure-us-right figure{
    position: absolute;
    left: 0;
    background: #fb8710;
    border-radius: 50%;
    width: 81px;
    height: 81px; 
}
.cont-us .cont-figure-us-right h3{
    text-align: center;
    color: white;
}

.work-us .btn-inicio{
    padding: .5rem 2rem;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(90, 90, 90);
    background: white;
    cursor: pointer;
    border: none;
    transition: all .5s;
}
.work-us .btn-inicio:hover{
    padding: .5rem 2rem;
    color: white;
    background: #fb8710;
    transition: all .5s;
    border-radius: 5px;
    border: none;
}


/*========  FOOTER       =======*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 11rem;
    background: #f3f3f3;
}
.footer figure img{
    width: 200px;
    height: 85px;
}
.footer figure, 
.footer .card-local {
    margin-left: 1rem;
}
.footer .card-local{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0px .5rem;
}
.footer .card-local a{
    padding-bottom:.5rem ;
    font-size: .9rem;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

.footer .cont-button{
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    background: none;
    padding: .5rem 1.2rem;
    background-color: #210140;
    color: white;
    font-weight: 800;
    transition: all .5s;
}
.footer .cont-button:hover{
    background-color: rgb(119, 119, 119);
}



/*============      MEDIA QUERY     ==========*/
/*============  ===========*/
@media (max-width: 1053px){
    header{
    width: 100%;
    padding: .9rem 4rem;
    }
    .section-texto .container{
        padding: 4rem 3rem;
    }
    .container .info-box{
        width: 80%;
    }
    .work-us{
        width: 90%;
        
    }
    .conoce-equipo{
        padding: 1rem 0px;
    }
    .conoce-equipo .container-grid{
        justify-content: center;
        align-items: center;
        padding: 1rem 0px;
        display: grid;
        grid-template-columns: repeat(3, 5fr);
        gap: 2rem;
    }
    .conoce-equipo .container-grid figure img{
        width: 100%;
        height: 200px;
    }
}



@media (max-width: 951px){
    .work-us{
        width: 95%;
    }
    .cont-us .cont-figure-us-left{
        width: 80%;
    }
    .cont-us .cont-figure-right{
        width: 80%;
        min-height: 80px;
        margin-left: 10rem;
    }
    .container .container-img-us{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .container-img-us img{
        width: 85%;
        height: 200px;
    }
}


@media (max-width: 932px){
    .section-conocenos .info-iconos{
        display: none;
    }
    .section-conocenos .chat-responsive i{
        display: block;
        z-index: 3;
    }
}

/*==========    MENU RESPONSIVE ========*/
    /*=============     =============*/
    @media (max-width: 759px){
        .work-us{
            width: 95%;
        }
        .work-us h2{
            font-size: 2rem;
        }
        .cont-us .cont-figure-us-left{
            width: 100%;
            min-height: 60px;
            margin-bottom: 2rem;
        }
        .cont-us .cont-figure-us-left .figure-left{
            width: 61px;
            height: 61px;
        }
        .cont-us .cont-figure-us-left .figure-left h2{
            font-size: 3rem;
        }
        .cont-us .cont-figure-us-left h3{
            padding: 0px 4rem;
            font-size: 1rem;
            text-align: right;
        }
        
        .cont-us .cont-figure-right{
            width: 100%;
            min-height: 60px;
            margin-left: 0rem;
            margin-bottom: 2rem;
        }
        .cont-us .cont-figure-right .figure-right{
            width: 61px;
            height: 61px; 
        }
        .cont-us .cont-figure-right .figure-right h2{
            font-size: 3rem;
        }
        .work-us .cont-us .cont-figure-right h3{
            font-size: 1rem;
        }
    }


    @media (max-width: 525px){
        .work-us{
            width: 95%;
        }
    }

    /*=============     =============*/
    @media (max-width: 835px){
    header{
    width: 100%;
    padding: .9rem 2rem;
    }
    .section-conocenos{
        padding-top: 4rem;
    }
    .section-conocenos figure{
        padding-bottom: .5rem .5rem;
        margin: .5rem .5rem;
    }
    .section-conocenos .container .info-conocenos p{
        padding: .5rem .5rem;
    }
    

    /*=============WORK US PORQUE TRABAJAR CON NOSOTROS===========*/
    
    
}


/*==========    MENU RESPONSIVE ========*/
@media (max-width: 765px){
    /*==========    MENU RESPONSIVE ========*/
    header .btn-menu{
        display: block;
    }
    header nav a{
        display: none;
    }

    header nav button{
        display: none;
    }
    /**/
    .container-menu{
        position: absolute;
        background: #210140;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        z-index: 4;
        position: fixed;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
    }
    .cont-menu{
        width: 100%;
        background: #210140;
        height: 100%;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .cont-menu nav{
        transform: translateY(15%);
    }
    .cont-menu nav a{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 20px;
        transition: all 400ms ease;
    }
    .cont-menu nav a:hover{
        color: #fb8710;
    }
    .cont-menu label{
        position: absolute;
        right: 45px;
        top: 30px;
        color: #ffffff;
        cursor: pointer;
        font-size: 1.7rem;
    }
    
    
}





/*============      =========*/

@media (max-width: 715px){
    
    .conoce-equipo .container-grid{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        gap: 2rem;
    }
}

@media (max-width: 704px){
    .footer{
        width: 100%;
        padding: 3rem 1rem;
    }
}

@media (max-width: 639px){
    .footer{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .footer figure,
    .footer article {
        text-align: center;
    }
    .footer div{
        text-align: center;
    }
    .section-clientes{
        padding: 6rem 2rem;
    }
}

@media (max-width: 525px){
    .container .container-img-us{
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .container-img-us img{
        width: 75%;
        height: 100px;
    }
    .section-conocenos{
        padding-top: 6rem;
    }
    .section-conocenos .container .info-conocenos p{
        font-size: 1rem;
    }
    /**/
    .section-conocenos .container{
        width: 94%;
    }
    .conoce-equipo .container-grid{
        gap: .5rem;
    }
    .conoce-equipo .container-grid figure img{
        width: 100%;
        height: 170px;
    }
    .work-us{
        width: 100%;
        padding: 1rem .9rem 4rem .9rem;

    }
    

    .work-us .cont-us .cont-figure-us-left h3{
        font-size: .9rem;
    }
    .work-us .cont-us .cont-figure-right h3{
        font-size: .9rem;
        text-align: left;
    }
}